{# TODO : manage errors display #}
<div class="row d-flex align-items-center justify-content-center my-5">
  <div class="col-md-6">
    <div class="card mb-8">
      <div class="card-header py-4">
        <h5 class="mb-0">Ajouter un produit</h5>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
         <div class="col-5">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="text" class="form-control" value="{{ product.name }}" name="name" id="name" placeholder="Nom" />
      <label class="form-label" for="name">Nom</label>
    </div>
     </div>
          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea name="description" class="form-control" id="description" rows="6" value="{{ product.description }}"></textarea>
            <label class="form-label" for="description">Description du produit</label>
          </div>

 <div class="row">
  <div class="col-3">
    <!-- Name input -->
    <div class="form-outline mb-3">
      <input type="text" class="form-control" value="{{ product.price }}" name="price" id="price" placeholder="Prix" />
      <label class="form-label" for="price">Prix</label>
    </div>
  </div>
  <div class="col-3">
    <!-- Email input -->
    <div class="form-outline mb-3">
      <input type="text" class="form-control" value="{{ product.inventory }}" name="inventory" id="inventory" placeholder="Stock" />
      <label class="form-label" for="inventory">Stock</label>
    </div>
  </div>
<div class="col-3">
    <select name="color" id="color" class="form-control" value="{{ product.color }}">
        <option value="">Couleur</option>
        <option value="rouge">rouge</option>
        <option value="orange">orange</option>
        <option value="jaune">jaune</option>
        <option value="vert">vert</option>
        <option value="bleu">bleu</option>
        <option value="violet">violet</option>
        <option value="rose">rose</option>
        <option value="blanc">blanc</option>
    </select>
    </div>
    <div class="col-3">
    <select name="category" id="category" class="form-control " value="{{ product.category }}">
        <option value="">Catégorie</option>
        <option value="bouquet">Bouquet</option>
        <option value="fleur coupée">Fleur coupée</option>
    </select>
    </div>
</div>
   <div class="custom-file mb-3">    
    <input type="file" class="custom-file-input" value="{{ product.image }}" name="image" id="imageUpload"/>
    <label class="custom-file-label" for="imageUpload">Ajouter une image</label>    
    </div>
    <div class="d-flex align-items-center">
  <button type="submit" class="btn btn-primary">Ajouter</button>
  </div>


        </form>
      </div>
    </div>
  </div>
