{# TODO : manage errors display #}
<div class="row d-flex align-items-center justify-content-center my-5">
  <div class="col-md-6">
    <div class="card mb-8">
      <div class="card-header py-4">
        <h5 class="mb-0">Ajouter un produit</h5>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
         <div class="col-5">
    <!-- Product name -->
    <input type="hidden" value="{{ id }}" name="id">
    <div class="form-outline mb-4">
      <input type="text" class="form-control" value="{{ product.name }}" name="name" id="name" placeholder="Nom" />
      <label class="form-label" for="name">Nom</label>
    </div>
     </div>
          <!-- Product description -->
          <div class="form-outline mb-4">
            <textarea name="description" class="form-control" id="description" rows="6">{{ product.description }}</textarea>
            <label class="form-label" for="description">Description du produit</label>
          </div>

 <div class="row">
  <div class="col-3">
    <!-- Product price -->
    <div class="form-outline mb-3">
      <input type="text" class="form-control" value="{{ product.price }}" name="price" id="price" placeholder="Prix" />
      <label class="form-label" for="price">Prix</label>
    </div>
  </div>
  <div class="col-3">
    <!-- Product inventory -->
    <div class="form-outline mb-3">
      <input type="text" class="form-control" value="{{ product.inventory }}" name="inventory" id="inventory" placeholder="Stock" />
      <label class="form-label" for="inventory">Stock</label>
    </div>
  </div>
<div class="col-3">
    <select name="color" id="color" class="form-control" value="{{ product.color }}">
        <option value="">Couleur</option>
        <option value="rouge" {% if product.color == 'rouge' %} selected {% endif %}>rouge</option>
        <option value="orange" {% if product.color == 'orange' %} selected {% endif %}>orange</option>
        <option value="jaune" {% if product.color == 'jaune' %} selected {% endif %}>jaune</option>
        <option value="vert" {% if product.color == 'vert' %} selected {% endif %}>vert</option>
        <option value="bleu" {% if product.color == 'bleu' %} selected {% endif %}>bleu</option>
        <option value="violet" {% if product.color == 'violet' %} selected {% endif %}>violet</option>
        <option value="rose" {% if product.color == 'rose' %} selected {% endif %}>rose</option>
        <option value="blanc" {% if product.color == 'blanc' %} selected {% endif %}>blanc</option>
    </select>
    </div>
    <div class="col-3">
    <select name="category" id="category" class="form-control " value="{{ product.category }}">
        <option value="">Catégorie</option>
        <option value="bouquet" {% if product.category == 'bouquet' %} selected {% endif %}>Bouquet</option>
        <option value="fleur coupée"  {% if product.category == 'fleur coupée' %} selected {% endif %}>Fleur coupée</option>
    </select>
    </div>
</div>
   <div class="custom-file mb-3">    
    <input type="file" class="custom-file-input" value="{{ product.image }}" name="image" id="imageUpload"/>
    <label class="custom-file-label" for="imageUpload">Ajouter une image</label>    
    </div>

    {# <div class="form-check">
  <input class="form-check-input" type="checkbox" name="isTrending" value="1" id="isTrending" />
  <label class="form-check-label" for="isTrending">Mettre en vedette</label>
  </div> #}

      <div class="col-3 mb-3">
    <select name="isTrending" id="isTrending" class="form-control " value="{{ product.isTrending }}">
        <option value="">Voulez vous rajouter le produit sur la page d'accueil?</option>
        <option value= 1 {% if product.isTrending == '1' %} selected {% endif %}>oui</option>
        <option value= 0  {% if product.isTrending == '0' %} selected {% endif %}>non</option>
    </select>
    </div>

    <div class="d-flex align-items-center">
  <button type="submit" class="btn btn-primary">Ajouter</button>
  </div>


        </form>
      </div>
    </div>
  </div>
