{# TODO : manage errors display #}
<div class="row d-flex align-items-center justify-content-center my-1">
  <div class="col-md-6">
    <div class="card mb-8">
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
         <div class="col-5">
    <!-- Product name -->
    <input type="hidden" value="{{ id }}" name="id">
    <div class="mb-4">
      <label class="form-label" for="name">Nom</label>
      <input type="text" class="form-control" value="{{ product[0].name }}" name="name" id="name" placeholder="Nom" />
    </div>
     </div>
          <!-- Product description -->
          <div class="mb-4">
            <label class="form-label" for="description">Description du produit</label>
            <textarea name="description" class="form-control" id="description" rows="6">{{ product[0].description }}</textarea>
          </div>

 <div class="row">

  <div class="col-2 mb-3">
    <label class="form-label" for="price">Prix</label>
    <input type="text" class="form-control" value="{{ product[0].price }}" name="price" id="price" placeholder="Prix" />
  </div>

  <div class="col-2 mb-3">
    <label class="form-label" for="inventory">Stock</label>
    <input type="text" class="form-control" value="{{ product[0].inventory }}" name="inventory" id="inventory" placeholder="Stock" />
  </div>

  <div class="col-2">
    <label class="form-label select-label" for="color">Couleur</label>
    <select name="color" id="color" class="form-control" value="{{ product[0].color }}">
        <option value="">Couleur</option>
        <option value="rouge" {% if product[0].color == 'rouge' %} selected {% endif %}>rouge</option>
        <option value="orange" {% if product[0].color == 'orange' %} selected {% endif %}>orange</option>
        <option value="jaune" {% if product[0].color == 'jaune' %} selected {% endif %}>jaune</option>
        <option value="vert" {% if product[0].color == 'vert' %} selected {% endif %}>vert</option>
        <option value="bleu" {% if product[0].color == 'bleu' %} selected {% endif %}>bleu</option>
        <option value="violet" {% if product[0].color == 'violet' %} selected {% endif %}>violet</option>
        <option value="rose" {% if product[0].color == 'rose' %} selected {% endif %}>rose</option>
        <option value="blanc" {% if product[0].color == 'blanc' %} selected {% endif %}>blanc</option>
    </select>
  </div>

  <div class="col-3">    
    <label class="form-label select-label" for="category">Catégorie</label>
    <select name="category" id="category" class="form-control " value="{{ product[0].category }}">
        <option value="bouquet" {% if product[0].category == 'bouquet' %} selected {% endif %}>Bouquet</option>
        <option value="fleur coupée"  {% if product[0].category == 'fleur coupée' %} selected {% endif %}>Fleur coupée</option>
    </select>
  </div>
    
  <div class="col-3 mb-3">    
    <label class="form-label select-label" for="isTrending">Mettre en vedette</label>
      <select name="isTrending" id="isTrending" class="form-control " value="{{ product[0].isTrending }}">
        <option value= 1 {% if product[0].isTrending == '1' %} selected {% endif %}>oui</option>
        <option value= 0  {% if product[0].isTrending == '0' %} selected {% endif %}>non</option>
      </select> 
  </div>
</div>

   <div class="custom-file mb-3">    
    <input type="file" class="custom-file-input" value="{{ product[0].image }}" name="image" id="imageUpload"/>
    <label class="custom-file-label" for="imageUpload">Ajouter une image</label>    
    </div>

    <div class="d-flex align-items-center justify-content-end">
  <button type="submit" class="btn btn-primary">Valider</button>
    </div>
</div>



        </form>
      </div>
    </div>
  </div>
