{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block content %}
    <h1>Products</h1>

    <table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
        <th>Image</th>
        <th>Id</th>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Inventaire</th>
        <th>Niveau de stock</th>
        <th>Prix</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for image in images %}
              <tr>
              <td>
                <div class="d-flex align-items-center">
                    <img
                    src="\{{ image.filename }}"
                    alt=""
                    style="width: auto; height: 200px"
                    ;>
                </div>
                </td>
                <td class="fw-normal mb-1">{{ image.id }}</td>
                <td class="fw-normal mb-1">{{ image.name }}</td>
                <td class="fw-normal mb-1">{{ image.category }}</td>
                <td class="fw-normal mb-1">{{ image.inventory }}</td>
                {% if product.inventory > 5 %}
                    <td><span class="badge badge-success rounded-pill d-inline">En stock</span></td>
                {% endif %}
                {% if product.inventory > 0 and image.inventory <= 5 %}
                    <td><span class="badge badge-primary rounded-pill d-inline">Stock bas</span></td>
                {% endif %}
                {% if product.inventory == 0 %}
                    <td><span class="badge badge-warning rounded-pill d-inline">Rupture</span></td>
                {% endif %}
                <td class="fw-normal mb-1">{{ image.price }}€</td>
                <td>
                    <a href="/products/edit?id={{ image.id }}">
                    <button type="button" class="btn btn-primary btn-floating">
                    <i class="fas fa-pencil"></i>
                    </button>
                    </a>
                 </td>
                 <td>
                 <a href="">
                    <button type="button" class="btn btn-primary btn-floating">
                    <i class="fas fa-trash-can"></i>
                    </button>
                    </a>
                </td>
            </tr>
            </tbody>
    {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/products/add">Ajouter</a>

{% endblock %}

   {% block footer %}
    {% endblock footer %}