{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block content %}
    <h1>Products</h1>
    
        <table class="table table-hover" "w-50">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Inventaire</th>
                <th>Prix</th>
            </tr>  
            {% for product in products %}
              <tr>
              <a href="/products/show?id={{ product.id }}">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.inventory }}</td>
                <td>{{ product.price }}</td>
            </tr>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/products/add">Ajouter</a>
{% endblock %}