{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block content %}
    <h1>Products</h1>

    <table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Inventaire</th>
        <th>Niveau de stock</th>
        <th>Prix</th>
        <th>Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for product in products %}
              <tr>
              <a href="/products/show?id={{ product.id }}">
                <td>
                    <div class="d-flex align-items-center">
                    <img
                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                        />
                    </div>
                </td
                <td class="fw-normal mb-1">{{ product.id }}</td>
                <td class="fw-normal mb-1">{{ product.name }}</td>
                <td class="fw-normal mb-1">{{ product.category }}</td>
                <td class="fw-normal mb-1">{{ product.inventory }}</td>
                {% if product.inventory > 5 %}
                    <td><span class="badge badge-success rounded-pill d-inline">En stock</span></td>
                {% endif %}
                {% if product.inventory > 0 and product.inventory <= 5 %}
                    <td><span class="badge badge-primary rounded-pill d-inline">Stock bas</span></td>
                {% endif %}
                {% if product.inventory == 0 %}
                    <td><span class="badge badge-warning rounded-pill d-inline">Rupture</span></td>
                {% endif %}
                <td class="fw-normal mb-1">{{ product.price }}</td>
                <td>
                <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                >Edit</button></td>
            </tr>
    {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/products/add">Ajouter</a>
{% endblock %}