{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block navbar %}
{% include '/component/_navbarAdmin.html.twig' %}
{% endblock navbar %}

{% block content %}
    <h1>Catalogue</h1>
    
        

    <table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
        <th>Image</th>
        <th>Id</th>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Inventaire</th>
        <th>Niveau de stock</th>
        <th>Prix</th>
        <th>Voir la fiche</th>
        <th>Mettre en vedette</th>
        <th>Modifier</th>
        <th>Supprimer</th>
        <th><a href="/products/add">
        <button type="button" class="btn btn-primary btn-floating">
        <i class="fas fa-plus"></i>
        </button>
        </a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for image in images %}
              <tr>
              <td>
                <div class="d-flex align-items-center">
                    <img
                    src="\{{ image.filename }}"
                    alt=""
                    style="width: auto; height: 200px"
                    ;>
                </div>
                </td>
                <td class="fw-normal mb-1">{{ image.Products_idProducts }}</td>
                <td class="fw-normal mb-1">{{ image.name }}</td>
                <td class="fw-normal mb-1">{{ image.category }}</td>
                <td class="fw-normal mb-1">{{ image.inventory }}</td>
                {% if image.inventory > 5 %}
                    <td><span class="badge badge-success rounded-pill d-inline">En stock</span></td>
                {% endif %}
                {% if image.inventory > 0 and image.inventory <= 5 %}
                    <td><span class="badge badge-primary rounded-pill d-inline">Stock bas</span></td>
                {% endif %}
                {% if image.inventory == 0 %}
                    <td><span class="badge badge-warning rounded-pill d-inline">Rupture</span></td>
                {% endif %}
                <td class="fw-normal mb-1">{{ image.price }}€</td>
                <td>
                    <a href="/products/show?id={{ image.Products_idProducts }}">
                    <button type="button" class="btn btn-primary btn-floating">
                    <i class="fas fa-eye"></i>
                    </button>
                    </a>
                 </td>
                 {% if image.isTrending == 0 %}
                 <td>
                 <form action="/products/trending" method="POST">
                    <input type="hidden" name="id" value="{{ image.Products_idProducts }}">
                    <button type="submit" class="btn btn-primary btn-floating">
                    <i class="fas fa-star"></i>
                    </button>
                </form>
                </td>
                {% endif %}
                {% if image.isTrending == 1 %}
              <td>
                <button
                type="button"
                class="btn btn-primary btn-floating"
                data-mdb-container="body"
                data-mdb-toggle="popover"
                data-mdb-placement="top"
                data-mdb-content="Le produit a déjà été ajouté en vedette"
                >
                <i class="fas fa-star"></i>
                </button>
                </td>
                {% endif %}
                <td>
                    <a href="/products/edit?id={{ image.Products_idProducts }}">
                    <button type="button" class="btn btn-primary btn-floating">
                    <i class="fas fa-pencil"></i>
                    </button>
                    </a>
                 </td>
                 <td>
                 <form action="/products/delete" method="POST">
                    <input type="hidden" name="id" value="{{ image.Products_idProducts }}">
                    <button type="submit" class="btn btn-primary btn-floating">
                    <i class="fas fa-trash-can"></i>
                    </button>
                </form>
                </td>
            </tr>
            </tbody>
    {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}

   {% block footer %}
    {% endblock footer %}