{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/productshow.css">
{% endblock %}
{% block navbar %}
	{% include '/component/_navbarAdmin.html.twig' %}
{% endblock navbar %}

{% block content %}
	<div class="d-flex content flex-column align-items-center">
		<div class="row">
			<div class="col-lg-8 d-flex justify-content-around align-items-center content">
				<div id="carouselBasicExample" class="carousel slide carousel-fade w-75" data-mdb-ride="carousel">

					{% if images|length == 1 %}
						<div class="carousel-indicators">
							<button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						</div>

						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="\{{images.0|join(', ')}}" class="w-100" alt="Sunset Over the City"/>
							</div>
						</div>

			{% endif %}
			{% if images|length == 2 %}
				<!-- Indicators -->
				<div class="carousel-indicators">
					<button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
				</div>

				<!-- Inner -->
				<div
					class="carousel-inner">

					<!-- Single item -->
					<div class="carousel-item active">
						<img src="\{{images.0|join(', ')}}" class="w-100" alt="Sunset Over the City"/>
					</div>

					<!-- Single item -->
					<div class="carousel-item">
						<img src="\{{images.1|join(', ')}}" class="d-block w-100" alt="Canyon at Nigh"/>
					</div>

				</div>

				<!-- Controls -->
				<button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>

			{% endif %}

			{% if images|length == 3 %}
				<!-- Indicators -->
				<div class="carousel-indicators">
					<button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2" aria-label="Slide 3"></button>
				</div>

				<div
					class="carousel-inner">

					<!-- Single item -->
					<div class="carousel-item active">
						<img src="\{{images.0|join(', ')}}" class="w-100" alt="Sunset Over the City"/>
					</div>

					<!-- Single item -->
					<div class="carousel-item">
						<img src="\{{images.1|join(', ')}}" class="d-block w-100" alt="Canyon at Nigh"/>
					</div>

					<!-- Single item -->
					<div class="carousel-item">
						<img src="\{{images.2|join(', ')}}" class="d-block w-100" alt="Canyon at Nigh"/>
					</div>

				</div>

				<!-- Controls -->
				<button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			{% endif %}
		</div>
	</div>
	<div class="col-lg-4 align-items-center d-flex">
		<section class="me-5">
			<h1>{{product[0].name}}</h1>
			</br>
			<h2>
				{{product[0].price}}€</h2>
				</br>
			<h3>Description</h3>
		</br>
		{{product[0].description}}</p>
		</br>


	<a href="?add_to_cart={{ image.Products_idProducts }}" class="btn btn-primary btn-lg">
		Ajouter au panier
	</a>
</section></div>{% endblock %}{% block footer %}{% endblock footer %}
