{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/cart.css">
{% endblock %}
{% block title %}Panier
{% endblock %}
{% block content %}
	{% set total = 0 %}
	<section class="h-100 h-custom " style="background-color:#40A497;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12">
					<div class="card card-registration card-registration-2" style="border-radius: 15px;">
						<div class="card-body p-0">
							<div class="row g-0">
								<div class="col-lg-8">
									<div class="p-5">
										<div class="d-flex justify-content-between align-items-center mb-5">
											<h1 class="fw-bold mb-0 text-black h1cart">Votre panier</h1>
										</div>
										<hr class="my-4">
										{% if cart is empty %}
											<h3 class="text-black mb-0">Votre panier est vide</h6>
										{% else %}
											{% for item in cart %}
												<div class="row mb-4 d-flex justify-content-between align-items-center">
													<div class="col-md-2 col-lg-2 col-xl-2">
														<img src="{{item.filename}}" class="img-fluid rounded-3" alt="">
													</div>
													<div class="col-md-3 col-lg-3 col-xl-3">
														<h6 class="text-muted">{{item.category}}</h6>
														<h6 class="text-black mb-0">{{item.name}}</h6>
													</div>
													<div class="col-md-3 col-lg-3 col-xl-2 d-flex flex-column text-center">
														<h6 class="text-muted">Quantité</h6>
														<h6 class="text-black mb-0">{{item.quantity}}</h6>
													</div>
													<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
														<h6 class="mb-0">{{item.price}}€</h6>
														{% set total = total + (item.price * item.quantity) %}
													</div>
													<div class="col-md-1 col-lg-1 col-xl-1 text-end">
														<a href="/cart/clearProduct?productId={{ item.id }}" class="text-muted">
															<i class="fas fa-times"></i>
														</a>
													</div>
												</div>
												<hr class="my-4">
											{% endfor %}
										{% endif %}
										<div class="pt-5">
											<h6 class="mb-0">
												<a href="/nosBouquets" class="text-body">
													<i class="fas fa-long-arrow-alt-left me-2"></i>Retour aux bouquets</a>
											</h6>
										</div>
									</div>
								</div>
								<div class="col-lg-4 bg-grey">
									<div class="p-5">
										<hr class="my-4">
										<div class="d-flex justify-content-between mb-5">
											<h5 class="text-uppercase">Total</h5>
											<h5>{{ total }}€</h5>
										</div>
										<form method="POST" action="/userOrder">
											<button type="submit" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Réserver</button>
										</form>
									</div>
									<div class="p-5">
										<hr class="my-4">
										<form action="/cart/clearCart" method="POST">
											<button type="submit" class="btn btn-info btn-block btn-lg">Vider le panier</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
